[Desktop Entry]
Type=Service
MimeType=application/octet-stream;
Actions=showMetadata;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin

[Desktop Action showMetadata]
Name=Show metadata
Icon=io.github.yousefvand.metadata
Exec=metadata %f
